
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<table >
    <tr th:each="s : ${students}" >
        <td th:text="${s.name}"></td>
        <td th:text="${s.email}"></td>
        <td th:text="${s.age}"></td>
        <td>
            <a th:href="@{/students/delete/{id}(id=${s.id})}">
                Delete
            </a>
        </td>
        <td ><a th:href="@{/students/edit/{id}(id=${s.id})}">edit</a></td>
    </tr>
</table>
<a th:href="@{/students/new}">Add new</a>
</body>
<style>
    td {
        padding: 10px;
        border: 1px solid black;
    }
    table {

        border: 1px solid black;
    }
</style>
</html>